{% load static %}
{% block content %}
<a href="{% url 'home' %}" class="home-btn">
  <i class="fa fa-house"></i> Home
</a>

<link rel="stylesheet" href="{% static 'addpoc.css' %}">

<div class="form-container">
    <h2>Add New Poc</h2>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <label>Title</label>
        {{ form.title }}

        <label style="margin-top:15px;">Content File</label>
        {{ form.content }}

        <button type="submit">Upload</button>
    </form>
</div>

{% endblock %}
